<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%- resource.class.authentication_keys.each_with_index do |authentication_key, i| %>
    <div class="field">
      <%= f.label authentication_key %><br />
      <% if authentication_key.to_sym == :email %>
        <%= f.email_field authentication_key, autofocus: i == 0 %>
      <% else %>
        <%= f.text_field authentication_key, autofocus: i == 0 %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
